.elementText {
  text-align: left;
  font-size: 16px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.card {
  width: 600px;
  padding: 1rem;
  margin: 1rem;
}

.avatar {
  width: 45px;
  height: 45px;
}

.postVisibility {
  padding-right: 2rem;
  font-size: 16px;
  color: white;
}

.actionButton {
  padding: 4px 8px;
  font-size: 14px;
  text-transform: none;
  border-radius: 12px;
}

.acceptButton {
  background-color: #8ac926;
}

.declineButton {
  background-color: #ff595e;
}

.viewButton {
  background-color: #1982c4;
}
